
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #000000;
  border: 1px solid #ccc;
}

.marquee__inner {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-right 10s linear infinite;
}

.marquee__inner span {
  display: inline-block;
  padding: 0 2rem;
  font-size: 20px;
  color: rgb(255, 228, 25);
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}